@import 'shared.module.scss';

.aboutSection {
    padding: 2rem 0 0;

    @media (min-width: 1200px) {
        padding: 3rem 0 0;
    }
}

.aboutTopContent {
    margin: $content-center;
    width: $content-size-sm;
    
    h1 {
        border-color: $secondary-color;
        border-style: solid;
        border-width: 1px 0 1px 1px;
        line-height: $primary-line-height;
        font-family: $header-font;
        font-size: 42px;  
        padding-top: 10px;
        position: relative;
        width: 116px;

        &::before,
        &::after {
            background-color: $secondary-color;
            content: "";
            position: absolute;
        }

        &::before {
            background-color: $light-color;
            border-color: $secondary-color;
            border-style: solid;
            border-width: 1px 0px;
            height: 34px;
            left: -30px;
            top: -1px;
            width: 30px;
        }

        &::after {
            bottom: -150px;
            height: 1px;
            left: -213px;
            transform: rotate(90deg);
            width: 421px;
        }
    }

    p {
        font-family: $primary-font;
        font-size: $font-size--sm;
        line-height: $primary-line-height;

        @media (min-width: 900px) {
            font-size: 18px;
        }

        @media (min-width: 1200px) {
            line-height: 26px;
        }        
    }

    .aboutTopPara {
        border-color: $secondary-color;
        border-width: 1px 0 0;
        border-style: solid;
        position: relative;

        &::before {
            background-color: transparent;
            border-color: $secondary-color;
            border-style: solid;
            border-width: 1px 0px 0px;
            content: "";
            height: 35px;
            left: -29px;
            position: absolute;
            top: -1px;
            width: 30px;
        }
    }
}

.steveImgContainer {
    margin: $content-center;
    margin-top: 2rem;
    width: 390px;

    img {
        max-width: 100%
    }
}

.aboutSecondContent {
    margin: $content-center;
    width: $content-size-sm;

    p {
        font-family: $primary-font;
        font-size: $font-size--sm;
        line-height: $primary-line-height;

        @media (min-width: 900px) {
            font-size: 18px;
            margin-top: 2rem;
        }
    }
}

.aboutImagesContainer {
    margin: $content-center;
    margin-bottom: 1rem;
    padding: 2rem 0 0;
    width: $content-size-sm;

    @media (min-width: 900px) {
        margin-bottom: 2rem;
    }

    img {
        margin-bottom: 1rem;
        width: $content-size-sm;

        @media (min-width: 650px) {
            margin-bottom: 1.5rem;
            width: $content-size-md;
        }

        @media (min-width: 900px) {
            margin-bottom: 2rem;
            width: 596px;
        }

        @media (min-width: 1200px) {
            width: 678px;
        }
    }
}



.aboutSupportContainer {
    background-color: $secondary-color;
    padding: 2rem 0 3.5rem;

    @media (min-width: 650px) {
        padding: 3rem 0;
    }

    @media (min-width: 650px) {
        padding: 3.5rem 0;
    }
}

.aboutSupportContent {
    font-family: $primary-font;
    margin: $content-center;
    width: $content-size-sm;

    @media (min-width: 650px) {
        width: $content-size-md;
    }

    @media (min-width: 900px) {
        width: 596px;
    }

    @media (min-width: 1200px) {
        width: 678px;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;

        @media (min-width: 650px) {
            font-size: 26px;
        }

        @media (min-width: 900px) {
            font-size: 34px;
        }
    }

    p {
        font-size: $font-size--sm;
        line-height: $primary-line-height;
        width: $content-size-sm;

        @media (min-width: 650px) {
            font-size: $font-size--md;
            width: $content-size-md;
        }

        @media (min-width: 900px) {
            font-size: 18px;
            width: 596px;
        }

        @media (min-width: 1200px) {
            line-height: 26px;
            width: 678px;
        }
    }
}


.aboutTopContent, .steveImgContainer, .aboutSecondContent, .aboutImagesContainer, .aboutImagesContainer, .aboutSupportContent {
    @media (min-width: 650px) {
        width: $content-size-md;
    }

    @media (min-width: 900px) {
        width: 596px;
    }

    @media (min-width: 1200px) {
        width: 678px;
    }
}

