@import 'shared.module.scss';

.exhibTopSection {
    border-bottom: 4px solid $primary-color; 
    padding: 0rem 0rem 3rem;
    transform: skewY(355deg);

    @media (min-width: 900px) {
        padding: 0rem 0rem 5rem;
    } 

    @media (min-width: 1200px) {
        padding: 0rem 0rem 7rem;
    } 
}

.exhibTopContent {
    margin: $content-center;
    transform: skewY(365deg);
    width: $content-size-sm;

    @media (min-width: 650px) {
        width: $content-size-md;
    } 

    @media (min-width: 900px) {
        width: 820px;
    } 

    @media (min-width: 1200px) {
        width: 1086px;
    } 

    h1 {
        font-family: $header-font;
        font-size: 42px;
        text-align: center;
    }

    p {
        font-family: $primary-font;

        @media (min-width: 900px) {
            line-height: $primary-line-height;
        } 

        @media (min-width: 1200px) {
            font-size: 18px;
        } 
    }

    h2 {
        font-family: $primary-font;
        font-size: $primary-line-height;

        @media (min-width: 900px) {
            font-size: 32px;
        } 
    }
}

.topContent__Sections {
    @media (min-width: 900px) {
        display: flex;
        justify-content: space-between;
    } 
}

.topContent__SectionTwo {
    @media (min-width: 900px) {
        padding-top: 4.8rem;
        width: 300px;
    }    

    @media (min-width: 1200px) {
        padding-top: 10rem;
        width: 430px;
    }   

    h2 {
        font-family: $primary-font;
        font-size: 20px;
        margin: 1.2rem 0;

        @media (min-width: 900px) {
            margin: 0.7rem 0 0;
        }
    }
}

.exhib_metaData {
    font-size: 12px;


    @media (min-width: 900px) {
        color: #787878;
        font-size: 12px;
        line-height: 16px !important;
    }

    @media (min-width: 1200px) {
        font-size: $font-size--sm !important;
    } 
}

.exhibImageContainer {
    margin: $content-center;
    padding-bottom: 2rem;
    width: $content-size-sm;

    @media (min-width: 650px) {
        width: $content-size-md;
    }
    
    @media (min-width: 1200px) {
        width: 600px;
    }

    img {
        width: $content-size-sm;

        @media (min-width: 650px) {
            width: $content-size-md;
        } 

        @media (min-width: 1200px) {
            width: 600px;
        }
    }
}

.exhibTimeline {
    background-color: $secondary-color;
    border-bottom: 4px solid $primary-color;
    border-top: 4px solid $primary-color;
    margin: 1rem 0;
    padding: 4rem 1rem;
    transform: skewY(355deg);

    @media (min-width: 650px) {
        padding: 5rem 1rem;
    }

    @media (min-width: 1000px) {
        padding: 6rem 1rem;
    }
}

.timelineTitle {
    margin: $content-center;
    transform: skewY(365deg);
    width: 234px;

    @media (min-width: 1000px) {
        margin-bottom: 2.5rem;
        width: 288px;
    }

    h2 {
        font-family: $primary-font;
        font-size: 24px;
        width: 234px;

        @media (min-width: 1000px) {
            font-size: 32px;
            width: 288px;
        }
    }

}

.timelineContent {
    display: flex;
    justify-content: center;
    transform: skewY(365deg);
}

.timelineGraphic {
    padding: 1rem 0;

    @media (min-width: 800px) {
        padding: 7rem 0;
    }
}

.timelineSection {
    background-color: #d9d9d9;
    content: '';
    height: 540px;
    right: 1.4rem;
    position: relative;
    width: 4px;

    @media (min-width: 800px) {
        height: 289px;
        right: 2.5rem;
    }

    @media (min-width: 1000px) {
        height: 302px;
        right: 3.5rem;
    }

    &::before {
        background-color: #d9d9d9;
        border-radius: 50px;
        content: '';
        height: 22px;
        position: absolute;
        right: -9px;
        width: 22px;
    }

    &.last {
        &::after {
            background-color: #d9d9d9;
            border-radius: 50px;
            bottom: -22px;
            content: '';
            height: 22px;
            position: absolute;
            right: -9px;
            width: 22px;
        }
    }
}



.timelineItemContainer {
    font-family: $primary-font;
    margin: $content-center;
    padding: 1rem 0 2.5rem;
    width: 289px;

    @media (min-width: 800px) {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        width: 680px;
    }

    @media (min-width: 1000px) {
        padding: 2rem 0;
        width: 780px;
    }

    img {
        height: 235px;
        object-fit: cover;
        padding-bottom: 1rem;
        width: 289px;
    }

    .timelineDesc {
        @media (min-width: 800px) {
            width: 340px;
        }

        @media (min-width: 1000px) {
            width: 422px;
        }

        h2 {
            font-size: 20px;
            margin: 0.7rem 0;

            @media (min-width: 800px) {
                margin: 0.7rem 0 0.2rem;
            }
        }
    
        p {
            font-size: $font-size--sm;
            line-height: 20px;
        }
    
        span {
            font-size: 10px;
        }
    }

    .review {
        display: flex;
        margin-bottom: 1rem;

        p {
            font-size: $font-size--sm;
            line-height: 14px;
            margin: 0;
        }

        svg {
            margin-left: 0.3rem;
            margin-top: 1px;
        }
    }
}    

.exhibFeature {
    border-top: 4px solid $primary-color;
    transform: skewY(355deg);
}

.exhibFeatureContent {
    font-family: $primary-font;
    margin: $content-center;
    padding: 3rem 0 2rem;
    transform: skewY(365deg);
    width: 326px;

    @media (min-width: 650px) {
        padding: 4rem 0 2.5rem;
        width: $content-size-md;
    }

    @media (min-width: 900px) {
        padding: 5rem 0 2.5rem;
        width: $content-size-lg;
    }

    h2 {
        font-size: 22px;
        text-align: center;

        @media (min-width: 650px) {
            font-size: 26px;
        }

        @media (min-width: 900px) {
            font-size: 34px;
        }
    }

    p {
        font-size: $font-size--sm;
        margin: 1.8rem 0;
        line-height: 20px;

        @media (min-width: 650px) {
            font-size: $font-size--md;
            margin: 2.5rem 0;
        }

        @media (min-width: 900px) {
            font-size: 20px;
            line-height: 28px;
            margin: 2.5rem 0;
        }
    }
}

.exhibFeatureButton {
    margin: $content-center;
    width: 120px;
}