body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

header {
    background-color: white;
    display: flex;
    height: 65px;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 10;

    a {
        cursor: pointer;
    }

    @media (min-width: 900px) {
        height: 115px;
        padding: 2rem;
    }
}

.logo {

    svg {
        @media (min-width: 900px) {
            height: 50px;
            width: 170px;
        }
    }  
}

.scrolled {
    background-color: #3C3C3C;
}

.scrolledIcon {
    stroke: white !important;
}

.scrolledText {
    color: white !important;
}

.navRight {
    display: flex;
}

.topNav {
    display: none;

    @media (min-width: 900px) {
        display: flex;
    }  

    ul {
        display: flex;
        list-style: none;
        margin: 0px;

        li {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            padding: 16px 12px;

            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}

.dropdownLink {
    @media (min-width: 900px) {
        display: none;
    }
}

.dropdownIcon {
    stroke: black;
}

.showDropdown {
    display: block !important;
}

.dropdownMenuContainer {
    display: none;
    background-color: #99919794;
    height: calc(100vh - 65px);
    left: 0px;
    position: absolute;
    top: 65px;
    width: 100%;
    z-index: 10;

    @media (min-width: 900px) {
        display: none;
    }
}


.dropdownMenu {
    background-color: white;
    height: 100%;
    max-width: 18rem;
    width: 100%;
    position: absolute;
    right: 0px;
    top: 0px;

    ul {
        padding: 1.5rem 1rem;

        li {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            list-style: none;
            padding: 12px 8px;
    
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}

.contactButton {
    background-color: black;
    border-radius: 4px;
    color: white;
    margin-top: 0.5rem;
    padding-bottom: 16px !important;
    padding-top: 16px !important;
    text-align: center;

    a {
        color: white !important;
    }

    @media (min-width: 900px) {
        margin-left: 16px;
        margin-top: 0px;
    }
}



