@import 'shared.module.scss';

header {
    background-color: $light-color;
    display: flex;
    height: 65px;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 10;

    a {
        cursor: pointer;
    }

    @media (min-width: 900px) {
        height: 115px;
        padding: 2rem;
    }
}

.logo {

    svg {
        @media (min-width: 900px) {
            height: 50px;
            width: 170px;
        }
    }  
}

.scrolled {
    background-color: #3C3C3C;
}

.scrolledIcon {
    stroke: $light-color !important;
}

.scrolledText {
    color: $light-color !important;
}

.navRight {
    display: flex;
}

.topNav {
    display: none;

    @media (min-width: 900px) {
        display: flex;
    }  

    ul {
        display: flex;
        list-style: none;
        margin: 0px;

        li {
            font-family: $primary-font;
            font-size: $font-size--md;
            padding: 16px 12px;

            a {
                color: $primary-color;
                text-decoration: none;
            }
        }
    }
}

.dropdownLink {
    @media (min-width: 900px) {
        display: none;
    }
}

.dropdownIcon {
    stroke: $primary-color;
}

.showDropdown {
    display: block !important;
}

.dropdownMenuContainer {
    display: none;
    background-color: #99919794;
    height: calc(100vh - 65px);
    left: 0px;
    position: absolute;
    top: 65px;
    width: 100%;
    z-index: 10;

    @media (min-width: 900px) {
        display: none;
    }
}


.dropdownMenu {
    background-color: $light-color;
    height: 100%;
    max-width: 18rem;
    width: 100%;
    position: absolute;
    right: 0px;
    top: 0px;

    ul {
        padding: 1.5rem 1rem;

        li {
            font-family: $primary-font;
            font-size: $font-size--md;
            list-style: none;
            padding: 0.75rem 0.5rem;
    
            a {
                color: $primary-color;
                text-decoration: none;
            }
        }
    }
}

.contactButton {
    background-color: $primary-color;
    border-radius: 4px;
    color: $light-color;
    margin-top: 0.5rem;
    padding-bottom: 16px !important;
    padding-top: 16px !important;
    text-align: center;

    a {
        color: $light-color !important;
    }

    @media (min-width: 900px) {
        margin-left: 16px;
        margin-top: 0px;
    }
}



