.homeIntroSection {
    height: 764px;
    padding: 10px 12px 0px 4px;
}

.homeImageContainer {
    display: flex;
    margin: 0 auto;
    width: 373px;

    @media (min-width: 800px) {
        gap: 6px;
        width: 722px;
    }

    @media (min-width: 1200px) {
        width: 1050px;
    }
}

.homeImage_ColOne {
    img {

        @media (min-width: 800px) {
            height: 502px;
        }
    }
}

.homeImage_ColTwo {
    display: none;

    @media (min-width: 800px) {
        display: block;
    } 
}

.homeImage_RowOne {
    img {
        width: 381px;
    }
}

.homeImage_RowTwo {
    display: flex;
    gap: 6px;

    img {
        height: 293px;
    }
}

.homeImage_ColThree {
    display: none;

    img {
        height: 505px;
    }

    @media (min-width: 1200px) {
        display: block;
    }
}

.homeIntroText {
    margin: 0 auto;
    margin-top: 2rem;
    padding-left: 6px;
    width: 358px;

    p {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
}

.whatsNewSection {
    background-color: #f4f4f4;
    font-family: "Inter", sans-serif;
    height: 794px;
    padding: 3rem 1rem;  
}

.whatsNewTitle {
    line-height: 22px;
    margin: 0 auto;
    width: 358px;

    h1 {
        border-color: #e4e4e4;
        border-style: solid;
        border-width: 2px 0 2px 1px;
        font-size: 28px;
        font-weight: 600;
        position: relative;
        width: 160px;

        &::before,
        &::after {
            background-color: #e4e4e4;
            content: "";
            position: absolute;
        }

        &::before {
            background-color: #f4f4f4;
            border-color: #e4e4e4;
            border-style: solid;
            border-width: 2px 0px;
            height: 22px;
            left: -30px;
            top: -2px;
            width: 30px;
        }

        &::after {
            bottom: 15px;
            height: 2px;
            left: -46px;
            transform: rotate(90deg);
            width: 88px;
        }
    }
}

.whatsNewImageContainer {
    margin: 0 auto;
    width: 358px;

    img {
        width: 358px;
    }
}


.whatsNewContent {
    margin: 0 auto;
    margin-top: 30px;
    width: 358px;

    h2 {
        font-size: 20px;
    }

    p {
        line-height: 24px;
        width: 358px;
    }
}

.btn {
    background-color: black;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 1rem;
    padding: 1rem 1.5rem;

    a {
        color: white;
        text-decoration: none;
    }
}


.onlineStoreSection {
    background-image: url(../assets/points_background.svg);
    background-position-x: 104%;
    background-position-y: 40px;
    background-repeat: no-repeat;
    height: 500px;
    padding: 3rem 1rem;
}

.storeImageContainer {
    margin: 0 auto;
    padding-top: 2.2rem;
    width: 358px;
}

.storeContent {
    font-family: "Inter", sans-serif;
    margin: 0 auto;
    margin-top: 30px;
    width: 358px;

    h2 {
        font-size: 20px; 
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }
}