body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

// font family
$primary-font: "Inter";
$header-font: "Kalam";

// font size
$font-size--sm: 14px;
$font-size--md: 16px;

// color
$primary-color: black;
$secondary-color: #e4e4e4;
$light-color: white;

// line height
$primary-line-height: 24px;

// section width
$content-size-sm: 358px;
$content-size-md: 460px;

$content-center: 0 auto;