.carouselContainer {
    margin: 2rem auto 0;
    max-width: 450px;
}

.carousel {
    margin: 0 auto;
    max-width: 90%;

    img {
        border: 0.5rem solid black;
        padding: 2rem;
        width: 100%;
    }
}

.carouselArrowsContainer {
    bottom: 2rem;
    left: 0;
    margin: 0 auto;
    max-width: 450px;
    position: fixed;
    right: 0;
}

.carouselArrows {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 90%;
}

.arrows {
    cursor: pointer;
}

.leftArrow {
    margin-top: 1px;
}

.rightArrow {
    margin-top: 1px;
}