.carouselContainer {
    margin: 2rem auto 0;
    max-width: 500px;
}

.carousel {
    margin: 0 auto;
    max-width: 90%;

    img {
        border: 0.5rem solid black;
        padding: 2rem;
        width: 100%;
    }
}

.carouselArrows {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.arrows {
    cursor: pointer;
}

.leftArrow {
    margin-top: 1px;
}

.rightArrow {
    margin-top: 1px;
}